language: python
cache: pip
python:
  - "2.7"
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda2/bin:$PATH
  - conda update --yes conda
  - conda create --yes -n condaenv python=$TRAVIS_PYTHON_VERSION
  - conda install --yes -n condaenv pip
  - source activate condaenv
  # The next couple lines fix a crash with multiprocessing on Travis and are not specific to using Miniconda
  - sudo rm -rf /dev/shm
  - sudo ln -s /run/shm /dev/shm
install:
  - conda install --yes python=$TRAVIS_PYTHON_VERSION numpy pandas
  - pip install -e src
  - pip install -q coveralls MDAnalysis travis-sphinx sphinx_rtd_theme pint
  # debugging
  - conda list
  - python --version
  - whereis python
  - conda info -a
script:
  - cd docs
  - sphinx-apidoc -o iago/ ../src/iago/
  - travis-sphinx --nowarn --source=. build
  - cd ../src
  - coverage run --rcfile=../config/coverage.conf setup.py test
after_script:
  - coveralls
after_success:
  - cd ../docs
  - travis-sphinx deploy