language: python
cache: pip
python:
  - "2.7"
install:
  - pip install -e src
  - pip install -q -r config/requirements.txt --use-mirrors
  - pip install travis-sphinx
  - pip install sphinx_rtd_theme
script:
  - cd src
  - coverage run --rcfile=../config/coverage.conf setup.py test
  - cd ../docs
  - sphinx-apidoc -o iago/ ../src/iago/
  - travis-sphinx --nowarn --source=. build
after_script:
  - cd src
  - coveralls
after_success:
  - travis-sphinx deploy